<?php
/* {{ ansible_managed }} */
$config = {{ 'array' }}();
$config['debug_level'] = 5;
$config['db_dsnw'] = 'mysql://roundcube:{{ roundcube_mysql_password }}@localhost/roundcube';
$config['default_host'] = 'localhost';
$config['smtp_server'] = '{{ roundcube_smtp_server }}';
$config['smtp_port'] = 25;
$config['smtp_user'] = '';
$config['smtp_pass'] = '';
$config['support_url'] = '{{ roundcube_support_url }}';
$config['product_name'] = '{{ roundcube_product_name }}';
$config['des_key'] = 'rcmail-!24ByteDESkey*Str';
$config['plugins'] = [
{% for plugin in roundcube_plugins_enabled %}
    '{{ plugin }}',
{% endfor %}
];
$config['skin'] = 'larry';
$config['spellcheck_engine'] = 'pspell';
$config['preview_pane'] = true;
$config['mime_types'] = '/usr/local/etc/apache{{ fm_roundcube_apache_version }}/mime.types';
$config['enable_installer'] = false;
